<header>
  <div><a href='/'>Logo</a></div>

  <div><input type='search' placeholder='Search...' /></div>
  <nav style='display:flex;'>
    <ul style='list-style:none;'>
      <li><a href='/products'>Manage Products</a></li>
      <li><a href='/variants'>Manage Variants</a></li>
      <li><a href='/images'>Manage Images</a></li>
    </ul>
  </nav>
</header>