{% extends "layouts/base.twig" %}

{% block main_content %}
<a href='/'> < Back</a>

<h1>Welcome this is coming from templates/views/variants/edit.twig</h1>

  {% include "views/variants/_form.twig" with { "variant": variant } %}

{% endblock %}