{% extends "layouts/base.twig" %}

{% block main_content %}
<a href='/'> < Back</a>

<h1>Welcome this is coming from templates/images/create.twig</h1>

  {% include "views/images/_form.twig", with {'variants': variants} %}
{% endblock %}